.login-screen-container {
  margin: 100px auto 0;
  width: 100%;
  padding: 60px 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .login-screen-container {
    width: 500px;
  }
}

.login-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #242526;
}


.login-screen-container button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
}

.login-screen-container .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.login-screen-container .login-input-container p {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.login-screen-container input {
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.login-title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

.register-button {
  margin-top: 50px !important;
}